shortcut.lnk
.vscode
.pyc
__pycache__/
*.sqlite
tmp/**
notes/**
sfx/earworms/*.mp3
sfx/hooks/*.mp3
sfx/ledcmds/*.mp3
sfx/randoms/**
sfx/events/strikes/*.mp3
data/*.txt
data/lists/*.txt
data/lists/tasks/*.txt