config.yaml
shortcut.lnk
.vscode
.pyc
__pycache__/
/images
*.sqlite
discord/**
tmp/**
data/**
sfx/**
discord_related/**
arduino_wip/**

config_backup\.yaml

db_test\.py
debug.py

notes\.md

tasks\.md

scene_next\.txt

scene_current\.txt


notes/

wip_temp/

config/integrations\.yaml

config/modules\.yaml

integrations\.yaml

modules\.yaml
